#logo-navbar {
  height: 150px;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.circle-image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 9rem;
  height: 9rem;
}
.circle-image img{
  width:100%;
  height:100%;
  object-fit: cover;
}